

html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
}

body {
  background-color: #1B2633;
  background-image: radial-gradient( circle at bottom, white, transparent 70%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: overlay;
  color:aliceblue;
}

.log-form-container {
  width: 400px;
  height: 400px;
}


 

body {
  padding: 20px;
  /* background-color: #263238; */

}
h2 {
  align-items: center;
}
.list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
  
}

.log {
  list-style: none;

}

.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.card-wrapper {
  margin-left: 5vh;
  display: flex;
}


.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; 
}

.card-image {
  width: 100%;
  max-width: 400px;
}

.logo-appbar {
  width: 150px; 
  height: auto; 
}

.log-history-button {
  color: whitesmoke
}