

html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
}

body {
  background-color: #210036;
  background-image: radial-gradient( circle at bottom, white, transparent 70%);
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: overlay;
  color:aliceblue;
}

.log-form-container {
  width: 400px;
  height: 400px;
}

 


h2 {
  align-items: center;
}
.list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5vh;
  
}

.emotion-wheel-container {
  display: flex;
  margin-top: 5vh;
}

.log-form-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.log {
  list-style: none;

}

.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  
}

.signup-form {
  margin-top: 4vh;
}


.card-wrapper {
  margin-left: 8vh;
  display: flex;
}


.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; 
}

.card-image {
  width: 100%;
  max-width: 70vh;
}

.logo-appbar {
  width: 150px; 
  height: auto; 
}

.log-history-button {
  color: whitesmoke
}

.link {
  color: white
}

/* Change the color of the TextField label */
.signin-textfield .MuiInputLabel-root {
  color: white;
}

/* Change the color of the TextField input text */
.signin-textfield .MuiInputBase-input {
  color: white;
}

/* Change the color of the TextField outline */
.signin-textfield .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

/* Change the color of the TextField outline when focused */
.signin-textfield .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

/* Change the color of the TextField label when focused */
.signin-textfield .Mui-focused .MuiInputLabel-root {
  color: white;
}

/* Change the color of the TextField outline when hovered */
.signin-textfield:hover .MuiOutlinedInput-notchedOutline {
  border-color: green;
}

/* Change the color of the TextField outline when focused and hovered */
.signin-textfield.Mui-focused:hover .MuiOutlinedInput-notchedOutline {
  border-color: white;
}
